<div class="wrapper">
  <header>
    <h1>Fabian Pawelczyk</h1>
    <p style="color:#6f777d"><b>Incoming PhD Researcher in Political and Social Sciences, European University Institute</b></p>
    <p style="color:#6f777d;font-weight:bold">Researcher of AI, Political Communication & Experiments</p>

    <p></p>

    <p>
      I study how political communication, social media, and artificial intelligence influence voter perceptions and behavior. I combine survey experiments with computational methods and am currently researching trust in AI-generated content. I previously worked at the German Federal Ministry of Labour and the Max Planck Institute for the Study of Societies.
    </p>

    <hr width="70%">

    <p><a href="/cv/fabian_cv.pdf">Curriculum Vitae</a></p>
    <p><a href="https://www.linkedin.com/in/fpawelczyk">LinkedIn</a></p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/fpawelczyk" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
    </div>

    <br>
    <p>
      fabian.pawelczyk@eui.eu<br>
      Florence, Italy
    </p>
  </header>
</div>

