<div class="wrapper">
  <header>
    <h1>Fabian Pawelczyk</h1>

   <!--Add Image -->

  <img src="images/phd_pic_geo_cropped.JPEG" alt="FP"
       style="width:200px; border-radius: 50%; margin-top: 10px;">

    <p style="color:#6f777d"><b>PhD Researcher in Computational Social Sciences at European University Institute</b></p>
    <p style="color:#6f777d;font-weight:bold">Interested in the intersection of Social Media, Politics and Experimentation</p>

    <p></p>

    <p>
      I am trying to find out what to study. Previously, I combined survey experiments with computational methods and am currently researching trust in AI-generated content. Earlier I worked at the German Federal Ministry of Labour and the Max Planck Institute for the Study of Societies.
    </p>

    <hr width="70%">

    <p><a href="/cv/fabian_cv.pdf">Curriculum Vitae</a></p>
    <p><a href="https://www.linkedin.com/in/fpawelczyk">LinkedIn</a></p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/fpawelczyk" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <!--div class="is-inset-8"><a href="https://scholar.google.com/" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div-->
    </div>

    <br>
    <p>
      fabian.pawelczyk@eui.eu<br>
      Florence, Italy
    </p>
  </header>
</div>

